{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}

  <main class="container">

    <div  class="row" >
       
           <div  class="col-nd-8" >
           </div>

            <div  class="col-nd-4" >
           </div>
    
    
    </div>  

  </main>

{% endblock %}
